.register-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  background-color: #f9f9f9;

  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn {
  /* background-color: #4caf50; */
  /* color: white !important; */
  /* border: none; */
  /* border-radius: 4px; */
  cursor: pointer;
  padding-left: 10px;
}

button:hover {
  background-color: #45a049;
}

button[type="submit"] {
  margin-top: 20px;
  align-self: flex-start;
}

h3 {
  text-align: center;
  color: red;
  margin-top: 10px;
}
.homepage a {
  /* border: 1px solid black; */
  color: whitesmoke;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4caf50;
}
